<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smiligenceUAT1.metrozdeliveryappnew">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.smiligenceUAT1.metrozdeliveryappnew.DeliveryBoyPaymentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/navtheme"></activity>
        <activity android:name="com.smiligenceUAT1.metrozdeliveryappnew.DeliveryBoyWeeklySettlements"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/navtheme"></activity>
        <activity
            android:name="com.smiligenceUAT1.metrozdeliveryappnew.AttendanceHistoryDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/navtheme" />
        <activity
            android:name="com.smiligenceUAT1.metrozdeliveryappnew.OnBoardScreenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/navtheme" />

        <activity
            android:name="com.smiligenceUAT1.metrozdeliveryappnew.AttendanceHistory"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/navtheme" />
        <activity
            android:name="com.smiligenceUAT1.metrozdeliveryappnew.DeliveryBoyAttendanceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/navtheme" />
        <activity
            android:name="com.smiligenceUAT1.metrozdeliveryappnew.ViewOrdersActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/navtheme" />
        <activity
            android:name="com.smiligenceUAT1.metrozdeliveryappnew.DeliveryBoyProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/navtheme" />
        <activity
            android:name="com.smiligenceUAT1.metrozdeliveryappnew.RegiterLogin"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.smiligenceUAT1.metrozdeliveryappnew.RegisterOtp"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.smiligenceUAT1.metrozdeliveryappnew.Common.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/withoutWindowBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.smiligenceUAT1.metrozdeliveryappnew.MyBackgroundService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"/>
        <service
            android:name = "com.smiligenceUAT1.metrozdeliveryappnew.Common.SendDataService"
            android:label = "@string/app_name" >
            <intent-filter>
                <category android:name= "android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>



</manifest>